body{
	background-color: #3b3c3b;
}
#mainbox{
	margin : auto;
	width : 1280px;
}
#header{
	width : 100%;
	float: left;
	height: 150px;
	background-color: #003940;
	font-family: arial;
	text-align : center;
	font-size : 200%;
	background-image :url('HEADER.png');
	color :white;
}
#menu{
	width: 100%;
	height : 60px;
	font-size :24px;
	float: left;
	background-color: #e3e4eb;
	font-family : arial;

	
}
#main-content{
	width: 100%;
	min-height: auto;
	background-color: yellow;

}
#news{
	width: 70%;
	height: 100%;
	overflow: auto;
	float: left;
	color :white;
	font-family : arial;
	background-color: #68f3f8;
	font-size: 24px;
	text-align : center;
}
#side-menu{
	width: 30%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: #555c6f;
	color : #9da2b4;
	text-align : center;
}#footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #003940;
	color:white;
	font-family:arial;
	text-align:center;
}